.product-details-container {
    background-color: #FFF9F2;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    margin-top: 20px;
    position: relative;
  }
  
  
  .product-details-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Pacifico', cursive; 
  }
  
  .product-details-container img {
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .product-details-container p {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    
  }
  
  
 