<div class="product-container">
    <h2 >----------Top Deals Of The Week--------- </h2>
    <div class="product-item">@for (product of products; track product){ 
      <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image">
      <div class="product-details">
        <h3>{{ product.name }}</h3>
          <button routerLink="/products/{{ product.id }}" class="view-details-btn">View Details</button> 
          <br><br><br>
      </div>}    </div>
  </div>
    

  <div class="product-container">
    <h2>---------smartphones under 2000---------</h2>
    <div class="product-item">@for (product of products; track product){ 
      <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image">
      <div class="product-details">
        <h3>{{ product.name }}</h3>

          <button routerLink="/products/{{ product.id }}" class="view-details-btn">View Details</button>
          <br><br><br>
        </div>}
    
    
    </div>
  </div>

  