<!-- <header>
  <h1></h1>
  <nav>
    <a routerLink="/product-list">Products</a>
  </nav>
</header> -->

<div class="header">
  <img src="./assets/logo.jpg" alt="Logo" class="logo" >
  <h1>Shopify</h1>
  <div class="delivery-info">Deliver to:Koramangala (Christ college road)
 Koramangala, Bengaluru</div>
  <div class="search-bar">
    <input type="text" placeholder="Search...">
    <button>.</button>
  </div>
</div>

<router-outlet></router-outlet>

<footer>
  <div class="copyright">&copy; 2024 Mobile Website. All rights reserved.</div>
</footer>
